<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <title>Persona</title>
        
    </head>
    <body>
        <h1 th:text="${titulo}"></h1>
        <table class="table table-dark table-striped">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre </tr>
                    <th scope="col">Apellido 1 </tr>
                    <th scope="col">Apellido 2</tr>
                    <th scope="col">Email</tr>
                    <th scope="col">Telefono</tr>    
                    <th scope="col">Pais</tr>     
                    <th scope="col">Editar</tr> 
                    <th scope="col">Eliminar</tr>    
                </tr>
        </thead>
         <tbody>
         <th: block th:each="user:${personas}">
             <tr
                 <td th:text="${user.getNombre}"></td>
                 <td th:text="${user.getApellido1}"></td>   
                 <td th:text="${user.getApellido2}"></td>
                 <td th:text="${user.getEmail}"></td>
                <td th:text="${user.getTelefono}"></td>
                 <td th:text="${user.getPais.Pais}"></td>
                     
                 <td>  
                     <a th:href="@{/editPersona/{id}(id=${user.getId})}">Edit</a>
                 </td>
                 <td>
                     <a th:href="@{/delete/{id}(id=${user.getId})}">Delete</a>
                 </td>
             </tr> 
             </th:block>
         </tbody>
                 
        
                     
                     
                     
                     
                     
                     
                     
                     
                
</body>
</html>
